<form action="/student" method="post">
  <label for="first-name-field">first name</label>
  <input id="first-name-field" type="text" name="first_name" >
  <label for="last-name-field">last name</label>
  <input id="last-name-field" type="text" name="last_name" >

  <label for="house-field">House</label>
  <select id="select-field" name="house">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Slytherin">Slytherin</option>
  </select>

  <label for="Age-field">Age</label>
  <input id="Age-field" type="number" name="age" >

<input type="submit" value="Add Student">

</form>
